<form #addressForm="ngForm">
    <!--  Physical Address --- Physical Address --- Physical Address --- Physical Address  --- Physical Address -->
    <!-- line One -->
    <div class="form-field-container">
        <label for="lineone">Line One</label>
        <input id="lineone" name="lineone" type="text" required [(ngModel)]="addresses.physicalAddress.lineOne" />
    </div>

    <!-- City -->
    <div class="form-field-container">
        <label for="city">City</label>
        <input id="city" name="city" type="text" required [(ngModel)]="addresses.physicalAddress.city" />
    </div>

    <!-- country -->
    <div class="form-field-container">
        <label for="country">Country</label>
        <input id="country" name="country" type="text" required [(ngModel)]="addresses.physicalAddress.country" />
    </div>

    <!-- code -->
    <div class="form-field-container">
        <label for="code">Code</label>
        <input id="code" name="code" type="text" required [(ngModel)]="addresses.physicalAddress.code" />
    </div>


    <!--  Postal Address --- Postal Address --- Postal Address --- Postal Address  --- Postal Address -->
    <!-- line One -->
    <div class="form-field-container">
        <label for="postal-lineone">Line One</label>
        <input id="postal-lineone" name="postal-lineone" type="text" required
            [(ngModel)]="addresses.postalAddress.lineOne" />
    </div>

    <!-- City -->
    <div class="form-field-container">
        <label for="postal-city">City</label>
        <input id="postal-city" name="postal-city" type="text" required [(ngModel)]="addresses.postalAddress.city" />
    </div>

    <!-- country -->
    <div class="form-field-container">
        <label for="postal-country">Country</label>
        <input id="postal-country" name="postal-country" type="text" required
            [(ngModel)]="addresses.postalAddress.country" />
    </div>

    <!-- code -->
    <div class="form-field-container">
        <label for="postal-code">Code</label>
        <input id="postal-code" name="postal-code" type="text" required [(ngModel)]="addresses.postalAddress.code" />
    </div>







</form>