<form #addressForm="ngForm">
    <!--  Physical Address --- Physical Address --- Physical Address --- Physical Address  --- Physical Address -->
    <!-- line One -->
<h3>Physical Address</h3>
    <mat-form-field appearance="outline">
        <mat-label>Line One</mat-label>
        <input
        matInput
        id="lineone"
        name="lineone"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.physicalAddress.lineOne" />
    </mat-form-field>

    <!-- City -->
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
        matInput
        id="city"
        name="city"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.physicalAddress.city" />
    </mat-form-field>

    <!-- country -->
    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input
        matInput
        id="country"
        name="country"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.physicalAddress.country" />
    </mat-form-field>

    <!-- code -->
    <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input
        matInput
        id="code"
        name="code"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.physicalAddress.code"  />
    </mat-form-field>


    <!--  Postal Address --- Postal Address --- Postal Address --- Postal Address  --- Postal Address -->
    <h3>Postal Address</h3>
    <!-- Line One -->
    <mat-form-field appearance="outline">
        <mat-label>Line One</mat-label>
        <input
        matInput
        id="postal-lineone"
        name="postal-lineone"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.postalAddress.lineOne" />
    </mat-form-field>

    <!-- City -->
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
        matInput
        id="postal-city"
        name="postal-city"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.postalAddress.city" />
    </mat-form-field>


    <!-- country -->
    <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
        <input
        matInput
        id="postal-country"
        name="postal-country"
        type="text"
        required
        (keyup)="outputFormToParentComponent(addressForm)"
        [(ngModel)]="addresses.postalAddress.country" />
    </mat-form-field>

    <!-- code -->
    <mat-form-field appearance="outline">
    <mat-label>Code</mat-label>
            <input
            matInput
            id="postal-code"
            name="postal-code"
            type="text"
            required
            (keyup)="outputFormToParentComponent(addressForm)"
            [(ngModel)]="addresses.postalAddress.code" />
    </mat-form-field>







</form>