<form #detailsForm="ngForm">
<!-- First Name -->
  <mat-form-field appearance="outline">
  <mat-label>First Name</mat-label>
    <input
    matInput
    id="firstname"
    name="firstname"
    type="text"
    required
    [(ngModel)]="customerDetails.firstName"
    (keyup)="outputFormToParentComponent(detailsForm)" />
  </mat-form-field>


<!-- Last Name -->
  <mat-form-field appearance="outline">
    <mat-label>Surname</mat-label>
      <input
      matInput
      id="lastname"
        name="lastname"
        type="text"
        required
        [(ngModel)]="customerDetails.lastName"
        (keyup)="outputFormToParentComponent(detailsForm)"

      />
    </mat-form-field>


<!-- Cell Number -->
  <mat-form-field appearance="outline">
    <mat-label>Cell Number</mat-label>
      <input
      matInput
      id="cellnumber"
      name="cellnumber"
      type="tel"
      maxlength="12"
      required
      [(ngModel)]="customerDetails.cellNumber"
      (keyup)="outputFormToParentComponent(detailsForm)"

      />
    </mat-form-field>


</form>

