<div class="more-details-container">
    <h1>{{selectedCustomer.firstName + ' ' + selectedCustomer.lastName }}</h1>
    <p>Cell Number: {{selectedCustomer.cellNumber}}</p>
    <p>Physical Address: {{selectedCustomer.lineOne + ', ' + selectedCustomer.city + ', ' + selectedCustomer.country + ', ' + selectedCustomer.code  }}</p>
    <p>Postal Address: {{selectedCustomer.postalLineOne + ', ' + selectedCustomer.postalCity + ', ' + selectedCustomer.postalCountry +  ', ' + selectedCustomer.postalCode  }} </p>
    <p>Comments: {{selectedCustomer.customerComment}}  </p>
</div>